*.bak
dockerfile
.gentoo.webmail.bin
fc35
fc36
fc37
*-fc36.yml
*-fc37.yml
*-leap15.4.yml
leap15.4
centos7
indimail/archlinux
indimail-mta/archlinux
webmail/stream9
*-centos7.yml
.gitignore
*.notest
dockerbuild.txt
